.about{
    display:flex; 
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height: 100vh;
}

.aboutContent{
    font-size: 1.7vw;
    width:45vw;
    margin:0 2rem;
}

.aboutImage{
    margin: 0 2rem;
}
