.about{
    display:flex; 
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    height: 100vh;
    position: relative;
}

.contentWrapper{
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 110px;
}
/* ABOUT */
.mainText{
    font-size: 228px;
    font-family: 'Manrope B';
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 40px;
}

/* Self Image */
.aboutImage1{
    position: relative;
    width: 351px;
    height: 417px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 50px;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px 0px;
    /* cursor: pointer; */
}

/* Main Content */
.aboutImageMobile{
    display:none;
    height: 250px; 
    width: 250px; 
    overflow: hidden; 
    border-radius: 50%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px 0px;
}
.imgWrapper{
    position: relative;
}

.title{
    font-size: 32px;
    margin-bottom: 13px;
    font-family: 'Manrope B';
    margin-top: 92px;
    /* text-decoration: underline; */
}

/* Personal Info Section */
.aboveText ul{
    list-style-type: none;
    font-family: 'Manrope B';
    /* margin-left: 20px; */
}
.personalInfo li:nth-child(odd){
    /* color: red; */
    font-size: 24px;
    margin-bottom: 10px;
}
.personalInfo li:nth-child(even){
    font-size: 17px;
    /* margin-left: 20px; */
}

/* Technoly Experience Section */
.bottomText{
    width: 50%;
}
.bottomExp{
    margin-top: 20px;
}
.techExp{
    list-style-type: none;
    font-family: 'Manrope B';
    /* margin-left: 20px; */
}
.techExp li:nth-child(odd){
    font-size: 22px;
    margin-bottom: 10px;
}
.techExp li:nth-child(even){
    font-size: 39px;
    /* margin-left: 20px; */
}

/* Icons Styling */
.icons{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    margin-bottom: 20px;
}
/* 320px — 480px: Mobile devices */
@media only screen and (min-width: 320px) and (max-width: 480px){
    .aboutImage1{
        display: none;
    }
    .aboutImageMobile{
        display: block;
        height: 200px;
        width: 200px;
        
    }
    .mainText{
        position: static; 
        margin-left: 0 ; 
        text-align: center;
        font-size: 22vw;
    }
    .bottomText{
        width: 70%;
    }
    .title{ 
        font-size: 4vw;
    }
    .about{
        flex-direction: column;
        justify-content: center;
        align-self: center;;
    }
    .contentWrapper{ 
        margin-top: 35px;
    }
    .techExp li:nth-child(odd){
        font-size: 3.5vw;
    }
    .techExp li:nth-child(even){
        font-size: 7vw;
    }
}
/* 481px — 768px: iPads, Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px){
    .aboutImage1{
        display: none;
    }
    .aboutImageMobile{
        display: block;
    }
    .bottomText{
        width: 70%;
    }
    .mainText{
        position: static; 
        margin-left: 0 ; 
        text-align: center;
        font-size: 178px;
    }
    .about{
        flex-direction: column;
        justify-content: center;
        align-self: center;;
    }
    .contentWrapper{ 
        margin-top: 35px;
    }
    .techExp li:nth-child(odd){
        font-size: 2vw;
    }
    .techExp li:nth-child(even){
        font-size: 5vw;
    }
}
/* 769px — 1024px: Small screens, laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .mainText{
        font-size: 253px;
        margin-left:0;
    }
    .aboutImage1{
        width: 370px;
        height: 440px;
    }
}
/* 1025px — 1200px: Desktops, large screens */
@media only screen and (min-width: 1025px) and (max-width: 1200px){

}

/* 1201px and more —  Extra large screens, TV -> current original styling is for that  */
@media only screen and (min-width: 1980px){
    .aboutImage1{
        width: 487px;
        height: 577px;
    }
}