.about{
    display:flex; 
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
.contentWrapper{    
    display:flex; 
    flex-direction:column;
    justify-content: center;
}

.greetings {
    font-size: 25px;
    margin: 10px 10vw;
    /* margin-left: 9.5vw; */
    /* text-align:center; */
}

.imageWrapper{
    display: flex; 
    justify-content:center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.aboutImage{
    /* force height and width to be the same */
    height: 150px;
    width: 150px; 
    margin: 15px 0;
    border-radius:10px;
    position: relative;
    /* border: solid 1px red !important; */
    overflow: hidden;
    z-index: 2
}

.outlineImage{
    height: 150px;
    width: 150px; 
    border: solid 1px #86cecb;
    position: absolute;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 10px;
}

.outlineImage2{
    height: 150px;
    width: 150px; 
    border: solid 1px #e12885;
    position: absolute;
    margin-top: 20px;
    margin-right:20px;
    border-radius: 10px;
}

.subtitleWrapper{ 
    display: flex; 
    justify-content: center;
}

.subtitle{ 
    font-size: 15px;
    margin: 0 10vw;
    line-height: 20px;
}

.firstName{ 
    color: #86cecb;
    font-weight: bold;
    text-decoration: underline;
}

.engName{ 
    color: #e12885;
    font-weight: bold;
    text-decoration: underline;
}

.imageWrapperDesktop{
    display:none;
}

.aboutImageDesktop{
    height: 360px;
    width: 325px;
    margin-right: 5vw;
    position: relative;
    /* border: solid 2px red; */
    border-radius: 15px;
    overflow: hidden;
    z-index: 2;
}


/* IPad, Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .subtitle{
        line-height: 35px;
    }
    .aboutImage{
        margin: 20px 0;
    }
    .imageWrapper{
        display: none; 
    }
    .imageWrapperDesktop{
        display: block;
    }
    .aboutImageDesktop{
        height:300px;
        width: 252px;
        /* border: solid 1px red; */
    }
    .outlineImage{
        margin-bottom: 0;
        margin-left: 25px;
        margin-top: -280px;
        height: 300px;
        width: 252px;
    }
    .outlineImage2 {
        margin-bottom: 0;
        margin-left: -25px;
        margin-right:0;
        margin-top: -320px;
        height: 300px;
        width: 252px;
    }
    .about{
        margin: 0 10vw;
    }
    .greetings{
        margin: 0 5vw;
        text-align: left;
        font-size: 25px;
    }
    .subtitle{ 
        margin: 20px 5vw;
        line-height: 25px;
        font-size: 15px;
    }
}

/* Small screens, laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .imageWrapper{
        display: none; 
    }
    .imageWrapperDesktop{
        display: block;
    }
    .about{
        margin: 0 10vw;
    }
    .greetings{
        margin: 0 5vw;
        text-align: left;
        font-size: 30px;
    }
    .subtitle{ 
        margin: 20px 5vw;
        line-height: 25px;
        font-size: 19px;
    }
    .aboutImageDesktop{
        height:300px;
        width: 252px;
        /* border: solid 1px red; */
    }
    .outlineImage{
        margin-bottom: 0;
        margin-left: 25px;
        margin-top: -280px;
        height: 300px;
        width: 252px;
    }
    .outlineImage2 {
        margin-bottom: 0;
        margin-left: -25px;
        margin-right:0;
        margin-top: -320px;
        height: 300px;
        width: 252px;
    }
}

/* Desktops, large screens */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .imageWrapper{
        display: none; 
    }
    .imageWrapperDesktop{
        display: block;
    }
    .about{
        margin: 0 10vw;
    }
    .greetings{
        margin: 0 5vw;
        text-align: left;
        font-size: 35px;
    }
    .subtitle{ 
        margin: 20px 5vw;
        line-height: 30px;
        font-size: 23px;
    }
    .aboutImageDesktop{
        height:300px;
        width: 252px;
        /* border: solid 1px red; */
    }
    .outlineImage{
        margin-bottom: 0;
        margin-left: 25px;
        margin-top: -280px;
        height: 300px;
        width: 252px;
    }
    .outlineImage2 {
        margin-bottom: 0;
        margin-left: -25px;
        margin-right:0;
        margin-top: -320px;
        height: 300px;
        width: 252px;
    }
}

/* Extra large */
@media only screen and (min-width: 1201px){
    .imageWrapper{
        display: none; 
    }
    .imageWrapperDesktop{
        display: block;
    }
    .about{
        margin: 0 10vw;
    }
    .greetings{
        margin: 0 5vw;
        text-align: left;
        font-size: 40px;
    }
    .subtitle{ 
        margin: 20px 5vw;
        line-height: 35px;
        font-size: 28px;
    }
    .outlineImage{
        margin-bottom: 0;
        margin-left: 25px;
        margin-top: -330px;
        height: 360px;
        width: 325px;
    }
    .outlineImage2 {
        margin-bottom: 0;
        margin-left: -25px;
        margin-right:0;
        margin-top: -385px;
        height: 360px;
        width: 325px;
    }
}