.contact { 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.title{
    font-size: 25px; 
    margin: 5vw 0;
}

.email { 
    color: #86cecb;
    font-weight: bold;
    font-size: 17px;
    margin: 3vh 0;
    font-family: 'Open Sans', sans-serif;
}

.contactContent{ 
    font-size: 15px;
    margin: 0 10vw;
    text-align: center;
}

.navBar__secondary{
    /* position: absolute; */
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    margin-top: px;
    width: 50%;
}

.navSocials {
    margin: 0.5rem 0rem;
    color: #86cecb;
}

/* IPad, Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .title{ 
        margin: 2vw 0;
    }
}

/* Small screens, laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .title{ 
        font-size: 30px;
        margin: 2vw 0;
    }
    .contactContent{
        font-size: 19px;
    }
    .navBar__secondary{
        display: none;
    }
    .email{
        font-size: 22px;
    }
}

/* Desktops, large screens */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .title{ 
        font-size: 30px;
        margin: 2vw 0;
    }
    .contactContent{
        font-size: 19px;
    }
    .navBar__secondary{
        display: none;
    }
    .email{
        font-size: 22px;
    }
}

/* Extra large */
@media only screen and (min-width: 1201px){
    .title{ 
        font-size: 40px;
        margin: 2vw 0;
    }
    .contactContent{
        font-size: 28px;
    }
    .navBar__secondary{
        display: none;
    }
    .email{
        font-size: 32px;
    }
}