.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Manrope B";
  overflow-x: hidden;
}

.title {
  font-size: 10vw;
  /* margin: 5vw 0; */
}

.email {
  font-size: 2.3vw;
  text-decoration: underline;
  /* margin: 3vh 0; */
  /* margin-top: 10px; */
}

.contactContent {
  font-size: 1.4vw;
  /* margin: 0 10vw; */
  text-align: center;
  margin: 0 16vw;
  margin-bottom: 20px;
}
.contactContent1 {
  font-size: 1.9vw;
  /* margin: 0 10vw; */
  text-align: center;
  margin: 5px 16vw;
}
.contactContentMobile {
  display: none;
}
.social {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* margin-top: 20px; */
}

/* 320px — 480px: Mobile devices */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .title {
    font-size: 45px;
    margin-bottom: 5px;
  }
  .email {
    font-size: 5.5vw;
  }
  .navSocials {
    font-size: 8vw;
    margin: 0 10px;
  }
  .social {
    margin-top: 10px;
  }
  .contactContentMobile {
    display: block;
    text-align: center;
    width: 85vw;
    font-size: 4vw;
    margin-bottom: 10px;
  }
  .contactContent {
    display: none;
  }
}
/* 481px — 768px: iPads, Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .title {
    font-size: 65px;
    margin-bottom: 5px;
  }
  .email {
    font-size: 25px;
  }
  .navSocials {
    font-size: 38px;
    margin: 0 10px;
  }
  .social {
    margin-top: 10px;
  }
  /* .contactContentMobile {
    display: none;
  } */
  .contactContent {
    display: block;
    font-size: 15px;
    margin: 0;
    width: 500px;
  }
}
/* 769px — 1024px: Small screens, laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .title {
    font-size: 10vw;
  }
  .email {
    font-size: 25px;
  }
  .navSocials {
    font-size: 38px;
    margin: 0 10px;
  }
  .social {
    margin-top: 10px;
  }
  /* .contactContentMobile {
    display: none;
  } */
  .contactContent {
    display: block;
    font-size: 15px;
    margin: 0;
    width: 500px;
  }
}
/* 1025px — 1200px: Desktops, large screens */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .title {
    font-size: 10vw;
  }
  .email {
    font-size: 25px;
  }
  .navSocials {
    font-size: 38px;
    margin: 0 10px;
  }
  .social {
    margin-top: 10px;
  }
  /* .contactContentMobile {
    display: none;
  } */
  .contactContent {
    display: block;
    font-size: 15px;
    margin: 0;
    width: 500px;
  }
}

/* 1201px and more —  Extra large screens, TV -> current original styling is for that  */
@media only screen and (min-width: 1201px) {
  .title {
    font-size: 10vw;
  }
  .email {
    font-size: 25px;
  }
  .navSocials {
    font-size: 38px;
    margin: 0 10px;
  }
  .social {
    margin: 10px 0;
  }
  /* .contactContentMobile {
    display: none;
  } */
  .contactContent {
    display: block;
    font-size: 20px;
    margin: 5px 0;
    width: 800px;
  }
}
