.contact { 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope B';
    overflow-x: hidden;
}

.title{
    font-size: 282px; 
    /* margin: 5vw 0; */
}

.email { 
    font-size: 50px;
    /* margin: 3vh 0; */
    margin-top: 30px;
}

.contactContent{ 
    font-size: 34px;
    /* margin: 0 10vw; */
    text-align: center;
    width: 1500px;
}
