html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #ecebe2;
  color: #333335;
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  /* overflow-x: hidden; */
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "deterMono";
  src: url("../../public/fonts/DeterminationMonoWeb.woff");
}

@font-face {
  font-family: "deterSans";
  src: url("../..//public/fonts/DeterminationSansWeb.woff");
}

@font-face {
  font-family: "Manrope B";
  src: url("../..//public/fonts/Manrope-Bold.woff");
}
