.landing{ 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-size: 4.5vw;
    font-family: 'Neuton', serif;
    height: 100vh;
}

.landingWrapper {
    text-align: center;
}

.luke{
    color:#86cecb;
    text-transform: uppercase;
    position: relative;
    text-shadow: 0.05em 0.07em 0 rgba(255, 40, 133, 0.75);
}

.fullName{
    margin-left:254px;
}

.name{
    margin:0;
}

.subtitle{
    margin:0;
    font-size: 2.5vw;
    font-family: 'Open Sans', serif;
}