.projects{
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.construction{
    margin: 20vw 0;
}

.underConstructWrap{
    display:flex;
    justify-content: center;
}

.underConstruct{
    width: 40vh;
    height: auto;
}

.mainTitle{
    font-family: 'deterMono';
    text-align: center;
    font-size: 10vw;
}

.title{
    font-family: 'deterMono';
    font-size: 6vw;
    text-align: center;
}

.subtitle{
    font-family: 'deterMono';
    margin: 0 10vw;
    font-size: 5vw;
    text-align: center;
}

/* IPad, Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .mainTitle{
        font-size: 6vw;
    }
    .construction{
        margin: 7vw 0;
    }
    .title{ 
        font-size: 5vw;
    }
    .subtitle{ 
        font-size: 4vw;
    }
}

/* Small screens, laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .mainTitle{
        font-size: 4vw;
    }
    .construction{
        margin: 3vw 0;
    }
    .title{ 
        font-size: 3vw;
    }
    .subtitle{ 
        font-size: 2vw;
    }
}

/* Desktops, large screens */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .mainTitle{
        font-size: 4vw;
    }
    .construction{
        margin: 3vw 0;
    }
    .title{ 
        font-size: 3vw;
    }
    .subtitle{ 
        font-size: 2vw;
    }
}

/* Extra large */
@media only screen and (min-width: 1201px){
    .mainTitle{
        font-size: 4vw;
    }
    .construction{
        margin: 3vw 0;
    }
    .title{ 
        font-size: 3vw;
    }
    .subtitle{ 
        font-size: 2vw;
    }
}