.projects{ 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.title{ 
    font-family: 'Manrope B';
    font-size: 282px;
}

.image{
    height: 493px; 
    width: 701px;
    border-radius: 25px;
    overflow: hidden;
    margin: 100px 50px;
}

.project1{ 
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

.project2{ 
    display: flex; 
    flex-direction: row-reverse; 
    justify-content: center;
    align-items: center;
}

.project3{ 
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

.text{ 
    margin: 50px;
    width: 500px;
    font-family: 'Manrope B';
}

.text h1{
    font-size: 40px;
}

.text p{ 
    font-size: 20px;
}