.wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* height: 200vh; */
}
.timelineWrapper{
    margin-top: 100px;
}

.title{
    font-size: 10vw;
    font-family: 'determono', serif;
    text-align: center; 
}

.skillsWrapper{
    display: flex;
    flex-direction: row;
}

.highlight{
    color:#e12885;
    font-weight: bold;
    text-decoration: underline;
}


/* Button styling */
.buttonWrap{ 
    margin-top: 20px;
    margin-left: 9vw;
    display: flex; 
    flex-direction: column; 
    /* justify-content: space-around; */
    align-items: flex-start;

}

.buttonmain{
    background-color:#e12885;
    padding: 7px 10px;
    border-radius: 10px;
    margin: 7px 0;
    /* margin: 1rem 2rem; */
}

.buttonalt{ 
    background-color: #137a7f;
    padding: 7px 10px;
    border-radius: 10px;
    margin: 7px 0;
    /* margin: 1rem 2rem; */
}

/* timeline */
.timeline{
    position:relative;
    /* margin:50px auto; */
    margin: 10px auto;
    padding:40px 0;
    /* width:150vh; */
    width: 100%;
    box-sizing:border-box;
  }

.timeline:before{
    content:'';
    position:absolute;
    /* left:50%; */
    margin-left: 15vw;
    width:2px;
    height:1014px;
    background:#c5c5c5;
}

.timeline ul{
    padding:0;
    margin:0;
}

.timeline ul li{
    list-style:none;
    position:relative;
    /* width: 50%; */
    width:100%;
    padding:20px 40px;
    box-sizing:border-box;
}

.content{
    font-family: 'determono', serif;
    /* padding-bottom:20px; */
}

.content h3 { 
    font-weight: bold;
    font-size: 10vw;
    margin-left:9vw !important;
}

.content p {
    font-size: 5vw;
    margin-left: 9vw !important;
}

.timeline ul li:nth-child(odd):before
{
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    top: 4vh;
    left: 14vw;
    background:#e12885;
    border-radius:50%;
    box-shadow:0 0 0 3px rgba(233,33,99,0.2);
}

.timeline ul li:nth-child(even):before
{
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    top: 4vh;
    left: 14vw;
    background:#e12885;
    border-radius:50%;
    box-shadow:0 0 0 3px rgba(233,33,99,0.2);
}

.timeline ul li h3{
    padding:0;
    margin:0;
    color:#86cecb;
    font-weight:600;
}

.timeline ul li p{
    margin:10px 0 0;
    padding:0;
}

.timeline ul li .time h4{
    margin:0;
    padding:0;
    font-size:14px;
}

/* IPad, Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .title{
        font-size: 6vw;
    }

    .timeline:before{
        margin-left: 14.5vw;
        max-height: 1075px;
        height:183vw;
    }

    .content h3 { 
        margin-left:12vw !important;
        font-size: 5vw;
    }
    
    .content p {
        margin-left: 12vw !important;
        font-size: 4vw;
    }
    
    .buttonWrap{ 
        margin-left: 12vw;
    }

    .buttonmain{
        font-size: 3vw;
    }

    .buttonalt{
        font-size: 3vw;
    }
}

/* Small screens, laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .title{ 
        font-size: 4vw;
    }

    .timeline:before{
        margin-left: 0;
        max-height: 1172px;
        height: 135vw;
        left: 50%;
    }

    .content h3 { 
        font-size: 4vw;
        margin-left:unset !important;
    }
    
    .content p {
        font-size: 2vw;
        margin-left: unset !important;
    }

    .buttonWrap{ 
        margin-left: unset;
        align-items: flex-end;
    }
    
    .first{
        align-items: flex-start;
    }

    .timeline ul li{
        width: 50%;
    }

    .timeline ul li:nth-child(odd){
        float:left;
        text-align:right;
        clear:both;
    }

    .timeline ul li:nth-child(even){
        float:right;
        text-align:left;
        clear:both;
    }
    
    .timeline ul li:nth-child(odd):before
    {
        right:-6px;
        left: unset;
    }

    .timeline ul li:nth-child(even):before
    {
        left:-4px;
    }
}

/* Desktops, large screens */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .title{ 
        font-size: 4vw;
    }

    .timeline:before{
        margin-left: 0;
        height: 116vw;
        left: 50%;
    }

    .content h3 { 
        font-size: 4vw;
        margin-left:unset !important;
    }
    
    .content p {
        font-size: 2vw;
        margin-left: unset !important;
    }

    .buttonWrap{ 
        margin-left: unset;
        align-items: flex-end;
    }
    
    .first{
        align-items: flex-start;
    }

    .timeline ul li{
        width: 50%;
    }

    .timeline ul li:nth-child(odd){
        float:left;
        text-align:right;
        clear:both;
    }

    .timeline ul li:nth-child(even){
        float:right;
        text-align:left;
        clear:both;
    }
    
    .timeline ul li:nth-child(odd):before
    {
        right:-6px;
        left: unset;
    }

    .timeline ul li:nth-child(even):before
    {
        left:-4px;
    }
}

/* Extra large */
@media only screen and (min-width: 1201px){
    .title{ 
        font-size: 4vw;
    }

    .timeline:before{
        margin-left: 0;
        height: 101vw;
        left: 50%;
    }

    .content h3 { 
        font-size: 4vw;
        margin-left:unset !important;
    }
    
    .content p {
        font-size: 2vw;
        margin-left: unset !important;
    }

    .buttonWrap{ 
        margin-left: unset;
        align-items: flex-end;
    }
    
    .first{
        align-items: flex-start;
    }

    .timeline ul li{
        width: 50%;
    }

    .timeline ul li:nth-child(odd){
        float:left;
        text-align:right;
        clear:both;
    }

    .timeline ul li:nth-child(even){
        float:right;
        text-align:left;
        clear:both;
    }
    
    .timeline ul li:nth-child(odd):before
    {
        right:-6px;
        left: unset;
    }

    .timeline ul li:nth-child(even):before
    {
        left:-4px;
    }

    .buttonmain{
        font-size: 1.5vw;
    }

    .buttonalt{
        font-size: 1.5vw;
    }
}