@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

@layer base {
    @font-face {
        font-family: "Zallord";
        src: url("/fonts/zallord.ttf");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
}

@layer components {
    .hero-text {
        background-color: #000;
        color: #fff;
    }
}
